Net clk TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 24 MHz;
Net clk TNM_NET = sys_clk_pin  |  LOC=K15 | IOSTANDARD = LVCMOS33;

Net reset TIG;
Net reset LOC=H18 | IOSTANDARD = LVCMOS33;

CONFIG VCCAUX = "3.3" ;

NET "dac_clk" IOSTANDARD = LVCMOS33;
NET "dac_clk" DRIVE = 12;
NET "dac_clk" SLEW = FAST;
NET "sync" IOSTANDARD = LVCMOS33;
NET "sync" DRIVE = 12;
NET "sync" SLEW = FAST;
NET "dac_clk" LOC = C5;
NET "sync" LOC = U8;
NET "dac0_data" IOSTANDARD = LVCMOS33;
NET "dac0_data" DRIVE = 12;
NET "dac0_data" SLEW = FAST;
NET "dac0_data" LOC = C4;

NET "fb_mem_addr[0]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[1]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[2]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[3]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[4]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[5]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[6]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[7]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[8]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[9]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[10]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[11]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[12]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[13]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[14]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[15]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[0]" DRIVE = 12;
NET "fb_mem_addr[1]" DRIVE = 12;
NET "fb_mem_addr[2]" DRIVE = 12;
NET "fb_mem_addr[3]" DRIVE = 12;
NET "fb_mem_addr[4]" DRIVE = 12;
NET "fb_mem_addr[5]" DRIVE = 12;
NET "fb_mem_addr[6]" DRIVE = 12;
NET "fb_mem_addr[7]" DRIVE = 12;
NET "fb_mem_addr[8]" DRIVE = 12;
NET "fb_mem_addr[9]" DRIVE = 12;
NET "fb_mem_addr[10]" DRIVE = 12;
NET "fb_mem_addr[11]" DRIVE = 12;
NET "fb_mem_addr[12]" DRIVE = 12;
NET "fb_mem_addr[13]" DRIVE = 12;
NET "fb_mem_addr[14]" DRIVE = 12;
NET "fb_mem_addr[15]" DRIVE = 12;
NET "fb_mem_addr[0]" SLEW = SLOW;
NET "fb_mem_addr[1]" SLEW = SLOW;
NET "fb_mem_addr[2]" SLEW = SLOW;
NET "fb_mem_addr[3]" SLEW = SLOW;
NET "fb_mem_addr[4]" SLEW = SLOW;
NET "fb_mem_addr[5]" SLEW = SLOW;
NET "fb_mem_addr[6]" SLEW = SLOW;
NET "fb_mem_addr[7]" SLEW = SLOW;
NET "fb_mem_addr[8]" SLEW = SLOW;
NET "fb_mem_addr[9]" SLEW = SLOW;
NET "fb_mem_addr[10]" SLEW = SLOW;
NET "fb_mem_addr[11]" SLEW = SLOW;
NET "fb_mem_addr[12]" SLEW = SLOW;
NET "fb_mem_addr[13]" SLEW = SLOW;
NET "fb_mem_addr[14]" SLEW = SLOW;
NET "fb_mem_addr[15]" SLEW = SLOW;
NET "fb_mem_addr[0]" LOC = E16;
NET "fb_mem_addr[1]" LOC = B4;
NET "fb_mem_addr[2]" LOC = B3;
NET "fb_mem_addr[3]" LOC = B2;
NET "fb_mem_addr[4]" LOC = R3;
NET "fb_mem_addr[5]" LOC = R5;
NET "fb_mem_addr[6]" LOC = T4;
NET "fb_mem_addr[7]" LOC = U5;
NET "fb_mem_addr[8]" LOC = N5;
NET "fb_mem_addr[9]" LOC = N6;
NET "fb_mem_addr[10]" LOC = N7;
NET "fb_mem_addr[11]" LOC = M8;
NET "fb_mem_addr[12]" LOC = M10;
NET "fb_mem_addr[13]" LOC = R7;
NET "fb_mem_addr[14]" LOC = T6;
NET "fb_mem_addr[15]" LOC = U7;
NET "fb_mem_data[0]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[1]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[2]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[3]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[4]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[5]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[6]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[7]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[8]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[9]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[10]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[11]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[12]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[13]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[14]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[15]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[0]" DRIVE = 12;
NET "fb_mem_data[1]" DRIVE = 12;
NET "fb_mem_data[2]" DRIVE = 12;
NET "fb_mem_data[3]" DRIVE = 12;
NET "fb_mem_data[4]" DRIVE = 12;
NET "fb_mem_data[5]" DRIVE = 12;
NET "fb_mem_data[6]" DRIVE = 12;
NET "fb_mem_data[7]" DRIVE = 12;
NET "fb_mem_data[8]" DRIVE = 12;
NET "fb_mem_data[9]" DRIVE = 12;
NET "fb_mem_data[10]" DRIVE = 12;
NET "fb_mem_data[11]" DRIVE = 12;
NET "fb_mem_data[12]" DRIVE = 12;
NET "fb_mem_data[13]" DRIVE = 12;
NET "fb_mem_data[14]" DRIVE = 12;
NET "fb_mem_data[15]" DRIVE = 12;
NET "fb_mem_data[0]" SLEW = SLOW;
NET "fb_mem_data[1]" SLEW = SLOW;
NET "fb_mem_data[2]" SLEW = SLOW;
NET "fb_mem_data[3]" SLEW = SLOW;
NET "fb_mem_data[4]" SLEW = SLOW;
NET "fb_mem_data[5]" SLEW = SLOW;
NET "fb_mem_data[6]" SLEW = SLOW;
NET "fb_mem_data[7]" SLEW = SLOW;
NET "fb_mem_data[8]" SLEW = SLOW;
NET "fb_mem_data[9]" SLEW = SLOW;
NET "fb_mem_data[10]" SLEW = SLOW;
NET "fb_mem_data[11]" SLEW = SLOW;
NET "fb_mem_data[12]" SLEW = SLOW;
NET "fb_mem_data[13]" SLEW = SLOW;
NET "fb_mem_data[14]" SLEW = SLOW;
NET "fb_mem_data[15]" SLEW = SLOW;
NET "fb_mem_data[0]" LOC = A5;
NET "fb_mem_data[1]" LOC = A4;
NET "fb_mem_data[2]" LOC = A3;
NET "fb_mem_data[3]" LOC = A2;
NET "fb_mem_data[4]" LOC = T3;
NET "fb_mem_data[5]" LOC = T5;
NET "fb_mem_data[6]" LOC = V4;
NET "fb_mem_data[7]" LOC = V5;
NET "fb_mem_data[8]" LOC = P6;
NET "fb_mem_data[9]" LOC = P7;
NET "fb_mem_data[10]" LOC = P8;
NET "fb_mem_data[11]" LOC = N8;
NET "fb_mem_data[12]" LOC = N9;
NET "fb_mem_data[13]" LOC = T7;
NET "fb_mem_data[14]" LOC = V6;
NET "fb_mem_data[15]" LOC = V7;

